%button{
    border: 1px solid #020C3C;
    padding: 10px 10px;
    margin-top: 7px;
}
%size{
    border: 1px solid #D9DBDC;
    padding: 10px 133px;
    margin-top: 7px;
    
}
%inputs:focus{
    outline-color: #5A31F4 ;
}
%input{
    border:1px solid #D9CDBE;
    padding: 10px 60px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    
}
%single{
    border:1px solid #D9CDBE;
    padding: 10px 216px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    
    
}