@import "./abstract/extends";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/contact";
@import "./layout/about";
@import "./layout/product";
@import "./layout/shipping";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}